In [1]:
import pandas as pd
import numpy as np

In [5]:
names = ["Omkar", "Prasad", "Nikhil", "Ashutosh"]
marks = [90, 78, 54, 89]
pd.Series(names, index=marks)

90       Omkar
78      Prasad
54      Nikhil
89    Ashutosh
dtype: object

In [6]:
pd.Series(names, index=marks, name="Marks")

90       Omkar
78      Prasad
54      Nikhil
89    Ashutosh
Name: Marks, dtype: object

In [18]:
marks =  {"Marathi": 98,
          "English": 89,
          "Mathematics": 100,
          "DC": 78}

marks_series = pd.Series(marks, name="Marks")
marks_series

Marathi         98
English         89
Mathematics    100
DC              78
Name: Marks, dtype: int64

In [10]:
marks_series.size

4

In [12]:
marks_series.dtype

dtype('int64')

In [13]:
marks_series.name

'Marks'

In [14]:
marks_series.is_unique

True

In [15]:
marks_series.index

Index(['Marathi', 'English', 'Mathematics', 'DC'], dtype='object')

In [20]:
marks_series.values

array([ 98,  89, 100,  78], dtype=int64)

In [42]:
items = pd.read_csv("subs.csv")

In [43]:
# items = items.squeeze(True)
type(items)

pandas.core.frame.DataFrame

In [44]:
items.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

In [45]:
items[-1]

KeyError: -1